@import url('bootstrap.min.css');

html,body{
    font-size:14px;
    background-color: #f8f9fa;
    min-height: 100vh;
    position: relative;
}
body{
    padding-bottom: 50px;
}

.loading{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    justify-content: center;
    align-items: center;
}

.bg-primary {
    background-color: #6f42c1 !important;
}

[id*="project"] {
    border:1px solid transparent;
    border-radius: 5px;
    /* padding: 5px 0; */
}
[id*="project"]:hover {
    border:1px solid #09f;
}

.app-name{
    font-size: 24px;
    font-weight:400;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    /* border-radius: 50px; */
}

.d-none {display:none;}

#appIcon {max-width:20px;margin:0 20px 0 10px;transform: scale(2) translateY(-2px);}

.soft-corners {border-radius: 5px; overflow: hidden;}

.well {
    background-color: #efefef;
    padding:20px;
    text-align: center;
    border-radius: 10px;
}

#add-row-btn {border:none;font-size:28px;line-height:0.8;color:#fff;padding: 5px 9px 10px;border-radius: 20px;}

.border-dashed {
    border-style: dashed !important;
    border-width: 2px !important;
}

footer {
    background-color: #000;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}